<%- include('partials/header.ejs') %>
<main>
	<section class="left">
		<h2>Recipes with ingredient: <%=matchingRecipes[0].ingredient%></h2>
		<ul>
			<% matchingRecipes.map((row) => { %>
			<li>
				<a href="/recipes/<%=row.recipe_id%>"><%=row.recipe%></a>
			</li>
			<% }).join(''); %>
		</ul>
		<a href="/ingredients">Back to all ingredients</a>
	</section>
</main>
<%- include('partials/footer.ejs') %>
