<%- include('partials/header.ejs') %>
<h2>Recipes tagged <%=matchingRecipes[0].tag%></h2>
<section class="details">
	<ul>
		<%matchingRecipes.map((row) => { %>
		<li><a href="/recipes/<%=row.recipe_id%>"><%=row.recipe%></a></li>
		<%}).join('');%>
	</ul>
	<a href="/tags">Back to all tags</a>
</section>
<section></section>
<%- include('partials/footer.ejs') %>
